.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 6rem 2rem 6rem;
  min-height: 100vh;
  position: relative;
}

.description {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropDownWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dropdown {
  width: 30ch;
}

.card {
  cursor: pointer;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  outline: 0px solid rgba(var(--card-rgb), 0);
  transition: background 200ms, border 200ms;
  margin-left: 1rem;
  width: 30ch;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.error {
  color: rgb(255, 57, 83);
  font-style: italic;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  flex-direction: column;
  font-family: var(--font-mono);
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 340px;
  height: 280px;
  z-index: -1;
  margin-left: -100px;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.center p {
  margin-top: 1rem;
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.2);
    outline: 1px solid rgba(var(--card-rgb), 1);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .content {
    padding: 4rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.accountOption > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.protected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.protected p {
  margin-top: 2rem;
}

.sessionDebug {
  position: absolute;
  right: 0;
  top: 0;
  overflow: scroll;
  height: 200px;
  padding: 1rem;
  background: #fff1;
  display: none; /* hide by default */
}

.colorA {
  color: var(--polkadot-color);
}

.walletInfo p {
  margin-bottom: 1rem;
  text-align: center;
}